extends ./layout.pug

block header
  != app_stylesheets

//- optional (PACE loader)
block pace-loader
  link(rel='stylesheet', href='/css/pace.css')
  script(type='text/javascript', src='/bower_components/PACE/pace.min.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css')

block content
  div#app-container!= content

block scripts
  != app_scripts
