doctype html
html.default(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title Security Portal - eSentire

    //- seo
    meta(name='application-name', content='eSentire Portal')
    meta(name='description', content='eSentire Portal')
    meta(name='robots', content='index, nofollow')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    block pace-loader
    block header
  body.pace-big(data-version='2.0.0')
    script(id='preloadedData', type='application/json')!=data
    block content
    block scripts
