.dashboard {
  .panel-switches td {
    vertical-align: middle;
    padding: $line-height-computed / 2;
  }

  .panel-switches td .rubix-icon {
    width: 18px;
    position: relative;
    display: inline-block;
    margin-left: $line-height-computed / 2;
  }

  .panel-switches-text {
    margin-left: $line-height-computed / 2;
  }

  .panel-switches td.panel-switches-holder {
    text-align: right;
    padding-right: $line-height-computed;
  }

  .map-tcontainer {
    @media (min-width: $screen-sm-min) {
      margin-left: $line-height-computed;
    }
  }

  .mapt tr:first-child > td {
    border-top: none;
  }

  .mapt td {
    vertical-align: middle;

    .rubix-icon {
      line-height: 0;
    }
  }

  .map-dest .rubix-icon {
    top: -2px;
    font-size: 20px;
    position: relative;
  }

  .dashboard-widgets {

    .col-sm-2_5 {
      float: left;
      min-height: 1px;
      padding: 0;
      position: relative;
      width: 100%;

      .rubix-panel-container {
        border: 0;
        border-top: 1px $border-default-color solid;
        border-radius: 0;
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-tablet-min) {
      .col-sm-2_5 {
        width: 50%;

        &:nth-child(even) {
          border-left: 1px $border-default-color solid;
        }
      }
    }
    @media (min-width: $screen-laptop-lg-min) {
      .col-sm-2_5 {
        width: 20%;

        &:nth-child(even) {
          border-left: 0;
        }

        .rubix-panel-container {
          border: 1px $border-default-color solid;
          border-radius: 0;
          margin-bottom: $grid-gutter-width;

          &:not(:first-child) {
            border-left-width: 0;
          }
        }

        &:first-child {
          padding-left: $grid-padding;
          padding-right: 0;
        }
        &:last-child {
          padding-left: 0;
          padding-right: $grid-padding;
        }
      }
    }
  }
}
